.searchbar {
	border: 1px solid lightgrey;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 10px;
}

.searchbar input {
	padding: 12px;
	border: 1px solid grey;
	font-size: 18px;
	outline: none;
}

.searchbar form {
	display: flex;
	flex-direction: column;
}
